<img width="1753" height="408" alt="image" src="https://github.com/user-attachments/assets/33825d3b-2af3-4682-9fe3-dba724f894c4" />
